<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.bidding.dao.TenderDAO">
    <insert id="insert" parameterType="Tender">
        INSERT INTO tender(tender_id, drug_name, manufacturer, packaging_requirements, total_quantity, deadline, deposit, status, create_time)
        VALUES(#{tenderId}, #{drugName}, #{manufacturer}, #{packagingRequirements}, #{totalQuantity}, #{deadline}, #{deposit}, #{status}, #{createTime})
    </insert>
    <select id="findById" parameterType="String" resultType="Tender">
        SELECT * FROM tender WHERE tender_id = #{tenderId}
    </select>
    <select id="findAll" resultType="Tender">
        SELECT * FROM tender ORDER BY create_time DESC
    </select>
    <select id="findByCondition" resultType="Tender">
        SELECT * FROM tender 
        WHERE 1=1
        <if test="drugName != null and drugName != ''">
            AND drug_name LIKE CONCAT('%', #{drugName}, '%')
        </if>
        <if test="tenderId != null and tenderId != ''">
            AND tender_id LIKE CONCAT('%', #{tenderId}, '%')
        </if>
        ORDER BY create_time DESC
    </select>
    <update id="update" parameterType="Tender">
        UPDATE tender SET drug_name = #{drugName}, manufacturer = #{manufacturer}, 
        packaging_requirements = #{packagingRequirements}, total_quantity = #{totalQuantity}, 
        deadline = #{deadline}, deposit = #{deposit}, status = #{status}
        WHERE tender_id = #{tenderId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM tender WHERE tender_id = #{tenderId}
    </delete>
</mapper>